<div>
    <div class="card my-2">
        <img src="{{ asset("images/" ~ dish.image) }}" class="card-img-top" alt="{{ dish.name }}">
        <div class="card-body">
            <h5 class="card-title">{{ dish.name }}</h5>
            <p class="card-text">Цена: {{ dish.price }} руб.</p>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="/recipe/{{ dish.id }}" class="btn accent">Рецепт</a>
            {% endif %}
                <a href="/order/{{ dish.id }}" class="btn accent">В корзину</a>
        </div>
    </div>
</div>
