{% extends "base.html.twig" %}

{% block title %}Меню{% endblock %}

{% block body %}
    <h1>Меню</h1>

    <h2>Кофе</h2>
    {% for dish in dishes[0] %}
        <ul>
            <li>{{ dish.name }} - {{ dish.price }} - {{ dish.image }}</li>
        </ul>
    {% endfor %}

    <h2>Чай</h2>
    {% for dish in dishes[1] %}
        <ul>
            <li>{{ dish.name }} - {{ dish.price }} - {{ dish.image }}</li>
        </ul>
    {% endfor %}

    <h2>Десерты</h2>
    {% for dish in dishes[2] %}
        <ul>
            <li>{{ dish.name }} - {{ dish.price }} - {{ dish.image }}</li>
        </ul>
    {% endfor %}
{% endblock %}
